<%= form_for @person, :html => { :class => "form-horizontal person" } do |f| %>

  <% if @person.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control', :placeholder => "Enter Full Name of Missing Person", :required => true %>
      <%=f.error_span(:name) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :age %>
      <%= f.number_field :age, :class => 'form-control', :placeholder => "Enter age of Missing Person", :min => 0, :max => 120, :maxlength => 3 %>
      <%=f.error_span(:age) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :height %>
      <%= f.number_field :height, :class => 'form-control', :placeholder => "Enter height of missing person (in cm)", :max => 999, :maxlength => 3 %>
      <%=f.error_span(:height) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :remarks %>
      <%= f.text_area :remarks, :rows => 8, :class => 'form-control', :placeholder => "Enter details of the missin person, such as any birthmarks, last place seen, clothes worn etc." %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :missing_date %>
      <%= f.text_field :missing_date, :class => 'form-control', :placeholder => "Select date and time at which person went missing." %>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#person_missing_date').datetimepicker();
            });
        </script>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :police_station %>
      <%= f.text_field :police_station, :class => 'form-control', :placeholder => "Enter police station branch where FIR was registered. (Optional)" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :police_reg_no %>
      <%= f.text_field :police_reg_no, :class => 'form-control', :placeholder => "Enter FIR Number.(Optional)" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :contact %>
      <%= f.number_field :reporter, :class => 'form-control', :placeholder => "Enter your contact number.", :maxlength => 13, :max => 999999999999 %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <%= f.label :Photograph %>
      <%= f.hidden_field :avatar_cache %>
      <%= f.file_field :avatar, :class => 'form-control', :placeholder => "Upload a recent photograph of the person." %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
