<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :person_age %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, id: :person_height %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks, id: :person_remarks %>
  </div>

  <div class="field">
    <%= form.label :missing_date %>
    <%= form.date_select :missing_date, id: :person_missing_date %>
  </div>

  <div class="field">
    <%= form.label :police_station %>
    <%= form.text_field :police_station, id: :person_police_station %>
  </div>

  <div class="field">
    <%= form.label :police_reg_no %>
    <%= form.text_field :police_reg_no, id: :person_police_reg_no %>
  </div>

  <div class="field">
    <%= form.label :reporter %>
    <%= form.text_field :reporter, id: :person_reporter %>
  </div>

  <div class="field">
    <%= form.label :photo_url %>
    <%= form.text_field :photo_url, id: :person_photo_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
